<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noldorknight.waiterapp" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".PlaceVisitors"
            android:label="@string/title_activity_place_visitors" >
        </activity>
        <activity
            android:name=".GetEmptyTables"
            android:label="@string/title_activity_get_empty_tables" >
        </activity>
        <activity
            android:name=".NewOrder"
            android:label="@string/title_activity_new_order" >
        </activity>
        <activity
            android:name=".EditActiveOrder"
            android:label="@string/title_activity_edit_active_order" >
        </activity>
        <activity
            android:name=".OrdersList"
            android:label="@string/title_activity_orders_list" >
        </activity>
    </application>

</manifest>
